@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Overpass:wght@300&family=Playfair+Display&family=Playfair+Display+SC&family=Roboto+Slab&display=swap");

.about_container {
  /* background-color: #094838; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding-top: 60px;
}
.about_text_container {
  align-items: center;
  text-align: center;
  background-image: url("../../Assets/Images/question1.jpg");
  background-position: top;
  /* background-size: cover; */
  background-repeat: no-repeat;
}
.about_text {
  width: 921px;
  /* background-color: rgb(255, 255, 255, 0.205);
  background-color: rgba(82, 78, 78, 0.65); */
  margin: auto;
  align-items: center;
  text-align: justify;
}
.para {
  /* padding: 40px; */
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}
.about_text2 > h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 1.875rem;
  font-family: "Aref Ruqaa Ink", serif;
  /* font-family: 'be vietnam'; */
  font-weight: lighter;
}

@media screen and (max-width: 1040px) {
  .about_text {
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
  }
  .para {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 870px) {
  .about_text {
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
  }
  .para {
    font-size: 1.9em;
  }
}
@media screen and (max-width: 810px) {
  .about_text {
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
  }
  .para {
    font-size: 1.6em;
  }
}
